* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caslon Antique', 'Segoe UI', Arial, Helvetica, sans-serif;
  font-size: 12.5px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  cursor: url("../assets/img/cursor-alt-pointer-mouse.svg"), auto;
}

body {
  overflow-x: hidden;
  height: 100%;
  background-color: #F3F3F3;

}

:root {
  --trasparent: #00000011;
  --white: #ffffff;
  --black: #000000;
  --white-dark: #F3F3F3;
  --dark-Grey: #202020;
  --light-gray: #2A2A2A;
  --very-light-gray: rgb(66, 66, 66);
  --hover-white-dark: #acabab;
  --hover-white-dark-light: rgb(142, 142, 142);
  --hover-very-white-dark: #d6d3d3;
  --gray: #e4e0e0;
  --red: rgb(253, 90, 90);
  --blue: #3a8fff;
}

header {
  position: fixed;
  z-index: 2;
  padding: 18.5px 25px;
  width: 100vw;
  height: 120px;
  background-image: url('../assets/img/texture-head.png');
  
  

}

header::before {
  content: '';
  display: block;
  position: absolute;
  top: 120px;
  left: -10px;
  right: -10px;
  border: 3.5px solid #00000075 ;

}



.header__container {
  margin: 0 auto;
  height: 100%;
  width: 1128px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header__boxLogo {
  cursor: pointer;
  height: 100%;
  width: 21.5%;
  display: flex;
  justify-content: center;
}

.header__nav {
  height: 100%;
  width: 78.5%;
  display: flex;
}

.ul--header {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.header__ulLinks {
  width: 70%;
  column-gap: 20px;
  list-style: none;
}

.header__linkPage {
  font-size: 1.60rem;
  text-decoration: none;
  color: var(--white-dark);
}

.active {
  text-decoration: underline;
}

.header__point {
  width: auto;
  height: 5.5%;
  cursor: pointer;
  fill: var(--white-dark)
}

.header__linkPage:hover {
  text-decoration: underline;
}

.header__ulBtns {
  width: 30%;
  column-gap: 10px;
}

.header--box--btns {
  width: 100%;
}

.btns--header {
  cursor: pointer;
  height: 35px;
  width: 120px;
  font-weight: 500;
  font-size: 1.70rem;

}

/* botão de login*/
.header_btnSignIn {
  background-color: transparent;
  border: 1px solid var(--white-dark);
  color: var(--white-dark);
  transition: all 0.3s;
}

/* Hover, botão de login*/
.header_btnSignIn:hover {
  background-color: var(--white-dark);
  border: none;
  color: var(--very-light-gray);
  transition: all 0.3s;
}

/* botão de 'cadastrar'*/
.header_btnSignUp {
  background-color: var(--white-dark);
  border: none;
  color: var(--very-light-gray);
  transition: all 0.3s;
}

/* Hover, botão de 'cadastrar'*/
.header_btnSignUp:hover {
  background-color: var(--hover-very-white-dark);
  transition: all 0.3s;
}

.bgMessage {
  position: relative;
  padding-top: 120px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/img/bg-removebg.png');


}

.bgMessage__container {
  margin: 0 auto;
  width: 1128px;
  text-align: center;
  padding: 0 20px;

}

.bgMessage__title,
.bgMessage__title u {
  font-size: 2.85rem;
}

.bgMessage__subTitle {
  font-size: 2rem;
  color: var(--hover-white-dark);
}

.bgMessage__bgMandala {
  position: absolute;
  top: 170px;
  height: 150px;
  width: 300px;
  background-image: url('../assets/img/mandala-bg-message.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;

}

main {
  position: relative;
  margin: 0 auto;
  max-width: 1128px;
  padding: 80px 20px 0;
}

.main__cardSucess {
  display: none;
  z-index: 5;
  width: 500px;
  height: 60px;
  background-color: var(--blue);
  border-radius: 2.5px;
  position: fixed;
  left: 50%;
  top: 25px;
  transform: translate(-50%,-50%);

}

.main__contentSucess {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.main__mensageSucess {
  text-align: center;
  font-size: 1.80em;
  font-weight: 200;
  color: var(--white);



}


.sectionSignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.sectionSignIn__title {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.sectionSignIn__leftMandala img,
.sectionSignIn__rightMandala img {
  width: 100%;
}

.sectionSignIn__leftMandala {
  flex-grow: 2;
}

.sectionSignIn__span {
  font-size: 3rem;
}

.sectionSignIn__rightMandala {
  flex-grow: 2;
}


.sectionSignIn__formContainer,
.sectionSignIn__linkBtnsContainer {
  width: 400px;
}

.sectionSignIn__formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
}

.container--input--basis {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.sectionSignIn__emailSpan,
.sectionSignIn__passwordsSpan,
.sectionSignIn__nameSpan {
  font-size: 2rem;
}

.input--basis {
  height: 40px;
  border: 1px solid var(--hover-white-dark);
  font-size: 1.50rem;
  padding: 10px;
  transition: all 0.20s;
}

.input--basis:focus {
  outline: var(--hover-very-white-dark);
  background-color: var(--gray);
  transition: all 0.20s;
}

.sectionSignIn__inputPasswordsContainer {
  display: flex;

}

.sectionSignIn__passwordsInput {
  flex-grow: 10;
}

.sectionSignIn__ContainerPasswordsBtn {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-left: 0;
  border-top: 1px;
  border-right: 1px;
  border-bottom: 1px;
  border-style: solid;
  border-color: var(--hover-white-dark);
}


.sectionSignIn__PasswordsBtn {
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  cursor: pointer;
}


.sectionSignIn__linkBtnsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  row-gap: 15px;
}

.btn--basis {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  font-size: 1.50rem;
}

.sectionSignIn__btnSignIn {
  color: var(--white);
  background-color: var(--dark-Grey);
  border: none;
  transition: all 0.2s;

}

.sectionSignIn__btnSignIn:hover {
  color: var(--white);
  background-color: var(--very-light-gray);
  transition: all 0.2s;
}

.sectionSignIn__sublinkYesAccount {
  transition: all 0.2s;
}

.sectionSignIn__sublinkYesAccount:hover {
  color: var(--hover-white-dark-light);
  transition: all 0.2s;
}

.sectionSignIn__linkYesAccount,
.sectionSignIn__sublinkYesAccount {
  width: fit-content;
  margin: 0 auto;
  font-size: 1.8rem;
  color: var(--black);
}

.sectionSignIn__orContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1%;
}

.sectionSignIn__leftLineOr {
  width: 33%;
  border-bottom: 1px solid #a8a8a8;
}

.sectionSignIn__spanOr {
  font-weight: 100;
  color: #a8a8a8;
  padding: 0px 1%;
}

.sectionSignIn__rightLineOr {
  width: 33%;
  border-bottom: 1px solid #a8a8a8;
}

.sectionSignIn__loadingDiv {
  display: none;
}

.sectionSignIn__loadingDiv img {
  width: 30px;
}


#div_erros_login {
  display: none;
  justify-content: center;
  font-size: 2.25rem;
  color: var(--red);
}


.bgFooter {
  position: relative;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/img/bg-footer.png');



}