* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caslon Antique', 'Segoe UI', Arial, Helvetica, sans-serif;
  font-size: 12.5px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  background-color: #F3F3F3;

}

:root {
  --white-dark: #F3F3F3;
  --dark-Grey: #202020;
  --light-gray: #2A2A2A;
  --very-light-gray: #2A2A2A;
  --hover-white-dark:#acabab;
  --hover-very-white-dark: #d6d3d3;
}

header {
  position: fixed;
  z-index: 2;
  padding: 18.5px 25px;
  width: 100vw;
  height: 120px;
  background-image: url('../assets/img/texture-head.png');
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 10px 10px rgba(0, 0, 0, 0.08);
  
}

header::before {
  content: ''; /*conteúdo vazio para o pseudoelemento */
  display: block; /*pseudoelemento um elemento de bloco */
  position: absolute; /*pseudoelemento em posição absoluta */
  top: 125px;
  left: -10px;
  right: -10px;
  border: 3.5px solid var(--dark-Grey);

}


.header__container {
  margin: 0 auto;
  height: 100%;
  width: 1128px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header__boxLogo {
  cursor: pointer;
  height: 100%;
  width: 21.5%;
  display: flex;
  justify-content: center;
}

.header__nav {
  height: 100%;
  width: 78.5%;
  display: flex;
}

.ul--header{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.header__ulLinks {
  width: 70%;
  column-gap: 20px;
  list-style: none;
}

.header__linkPage{
  font-size: 1.60rem;
  text-decoration: none;
  color: var(--white-dark);
}

.header__point{
  width: auto;
  height: 5.5%;
  cursor: pointer;
  fill: var(--white-dark)
}

.header__linkPage:hover{
  text-decoration: underline;
}

.header__ulBtns {
  width: 30%;
  column-gap: 10px;
}

.header--box--btns{
  width: 100%;
}

.btns--header{
  cursor: pointer;
  height: 35px;
  width: 120px;
  font-weight: 500;
  font-size: 1.70rem;

}

/* botão de login*/
.header_btnSignIn{
  background-color: transparent;
  border: 1px solid var(--white-dark);
  color: var(--white-dark);
}

/* Hover, botão de login*/
.header_btnSignIn:hover{
    background-color: var(--white-dark);
    border: none;
    color: var(--very-light-gray);
}

/* botão de 'cadastrar'*/
.header_btnSignUp{
  background-color: var(--white-dark);
  border: none;
  color: var(--very-light-gray);
}

/* Hover, botão de 'cadastrar'*/
.header_btnSignUp:hover{
  background-color: var(--hover-very-white-dark);
}

.bgMessage{
  position: relative;
  padding-top: 120px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../assets/img/bg-removebg.png');

   
}
.bgMessage__container{
  margin: 0 auto;
  width: 1128px;
  text-align: center;
  padding: 0 20px;
  
}

.bgMessage__title, .bgMessage__title u{
  font-size: 2.85rem;
}

.bgMessage__subTitle{
  font-size: 2rem;
  color: var(--hover-white-dark);
}

.bgMessage__bgMandala{
  position: absolute;
  top: 170px;
  height: 150px;
  width: 300px;
  background-image: url('../assets/img/mandala-bg-message.png');
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;



}

main{
  margin: 0 auto;
  max-width: 1128px;
  padding-top: 80px;
}

.sectionForums{
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}

.sectionForums__title{
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.sectionForums__leftMandala{
  flex-grow: 2;
}

.sectionForums__leftMandala img, .sectionForums__rightMandala img{
  width: 100%;
}

.sectionForums__span{
  font-size: 3rem;
}

.sectionForums__rightMandala{
  flex-grow: 2;
}

.sectionForums__articleCards{
  width: 100%;
}