* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caslon Antique', 'Segoe UI', Arial, Helvetica, sans-serif;
  font-size: 12.5px;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  overflow-x: hidden;
  height: 100%;
  background-color: #F3F3F3;

}

:root {
  --white-dark: #F3F3F3;
  --dark-Grey: #202020;
  --light-gray: #2A2A2A;
  --very-light-gray: #2A2A2A;
  --hover-white-dark:#acabab;
  --hover-very-white-dark: #d6d3d3;
}

header {
  position: fixed;
  z-index: 2;
  padding: 18.5px 25px;
  width: 100vw;
  height: 120px;
  background-image: url('../assets/img/texture-head.png');
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 10px 10px rgba(0, 0, 0, 0.08);
  
}

header::before {
  content: ''; /*conteúdo vazio para o pseudoelemento */
  display: block; /*pseudoelemento um elemento de bloco */
  position: absolute; /*pseudoelemento em posição absoluta */
  top: 125px;
  left: -10px;
  right: -10px;
  border: 3.5px solid var(--dark-Grey);

}


.header__container {
  margin: 0 auto;
  height: 100%;
  width: 1128px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.header__boxLogo {
  cursor: pointer;
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;
}

.header__nav {
  height: 100%;
  width: 85%;
  display: flex;
}

.ul--header{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.header__ulLinks {
  width: 70%;
  column-gap: 20px;
  list-style: none;
}

.header__linkPage{
  font-size: 1.75rem;
  text-decoration: none;
  color: var(--white-dark);
}

.header__linkPage:hover{
  text-decoration: underline;
}

.header__ulBtns {
  width: 30%;
  column-gap: 10px;
}

.btns--header{
  cursor: pointer;
  height: 100%;
  width: 120px;
  font-weight: 500;
  font-size: 1.70rem;

}

/* botão de login*/
.header_btnSignIn{
  background-color: transparent;
  border: 1px solid var(--white-dark);
  color: var(--white-dark);
}

/* Hover, botão de login*/
.header_btnSignIn:hover{
    background-color: var(--white-dark);
    border: none;
    color: var(--very-light-gray);
}

/* botão de 'cadastrar'*/
.header_btnSignUp{
  background-color: var(--white-dark);
  border: none;
  color: var(--very-light-gray);
}

/* Hover, botão de 'cadastrar'*/
.header_btnSignUp:hover{
  background-color: var(--hover-very-white-dark);
}

.header__bgMessage{
  height: 380px;
   background-image: url('../assets/img/bg-removebg.png');
}